.Poster {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden; /* Ensure content stays within bounds */
  }
  
.Poster_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../../Images/HomePage_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    filter: grayscale(100%);
    opacity: 0.2;
    z-index: 0;
}

.Poster_body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
}

.Poster_body_part_1{
    height: 100%;
    width: 60%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Poster_header{
    font-size: 6vh;
    line-height: 7vh;
    font-weight: bold;
}
.Poster_info{
    font-size: 2vh;
    width: 23vw;
    margin-top: 3vh;
}
.btn_explore{
    width: fit-content;
    background-color: #F47B34;
    border-radius: 50px;
    margin-top: 3vh;
    color: white;
    padding: 1.15vh 2.5vw;
    border: 0px transparent solid;
}

.Poster_body_part_2{
    height: 100%;
    width: 40%;
}