.cartpagecontainer{
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cartSummary{
    margin-right: 2.3rem;
    height: 50rem;
    flex: 1;
    background-color: red;
}
.cart-table {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    flex: 3;
}

.cart-table table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    padding: 30px;
    text-align: left;
}

.cart-table th {
    background-color: #f4f4f4;
}
.table_row{
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}
.table_row:hover{
    box-shadow: 0px 10px #F0F0F0;
}






.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #F47B34;
    cursor: pointer;
    border: 0px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
  }
  .bin-bottom {
    width: 15px;
    z-index: 2;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  /* .bin-button:hover {
    background-color: rgb(255, 0, 0);
  } */
  .bin-button:active {
    transform: scale(0.9);
  }
  .garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }
  .bin-button:hover .garbage {
    animation: throw 0.4s linear;
  }
  @keyframes throw {
    from {
      transform: translate(-400%, -700%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }
  