/* Products.css */
.Products {
    padding: 5vh 5vw;
    background-color: #fbf0f4;
    
}

.Products_title {
    font-size: 3vh;
    margin-bottom: 3vh;
    color: #91736B;
}

.Card_Products {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkto {
    text-decoration: none;
}

.card {
    width: 20.5rem;
    margin-bottom: 3vh;
    padding: 5vh 1vw ;
    height: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    background-color: #91736B;
}

.card:hover {
    transform: scale(1.05);
}

.card_product_image {
    height: 22.5vh;
    margin-bottom: 1.5vh;
}

.card_product_category {
    color: #fff;
    font-size: 1.5vh;
}

.card_product_name {
    font-size: 2.5vh;
    line-height: 3vh;
    margin-bottom: 1.5vh;
}

.card_product_real_price {
    text-decoration: line-through;
    color: #fff;
}

.card_product_discount_price {
    font-size: 2vh;
    margin-bottom: 1.5vh;
}

.card_section_3 {
    display: flex;
    justify-content: space-between;
}

.product_quantity {
    width: 9rem;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}

.quantity_btn {
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border: 0px transparent solid;
    font-size: 2.5vh;
}

.quantity_btn_remove {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.quantity_choosen {
    background-color: #FCFCFD;
    height: 100%;
    text-align: center;
    width: 3rem;
    border: 0px transparent solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity_choosen::-webkit-inner-spin-button,
.quantity_choosen::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity_choosen {
    -moz-appearance: textfield;
}

.quantity_btn_add {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.add_to_cart_btn {
    border: 0px transparent solid;
    background-color: #fff ;
    color: #91736B;
    border-radius: 50px;
    font-size: 2vh;
    padding: 1vh 1vw;
}

.success {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #232531;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: fixed;
    bottom: -4rem;
    right: -25rem;
    margin: 0 1rem 2rem 0;
    padding: 1rem 1rem;
    transition: bottom 0.3s ease-in-out, right 0.3s ease-in-out;
}

.success.show {
    bottom: 0;
    right: 0;
}

.success__icon {
    margin-right: 8px;
}

.success__icon path {
    fill: white;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}

.success__close {
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: white;
}
