/* Products.css */
.Products {
    padding: 5vh 5vw;
    background-color: #fbf0f4;
}

.Products_title {
    font-size: 3vh;
    margin-bottom: 3vh;
    color: #91736B;
}

.Card_Products {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linkto {
    text-decoration: none;
}

.card {
    width: 20.5rem;
    margin-bottom: 3vh;
    padding: 5vh 1vw;
    height: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    background-color: #91736B;
}

.card:hover {
    transform: scale(1.05);
}

.card_product_image {
    height: 22.5vh;
    margin-bottom: 1.5vh;
}

.card_product_category {
    color: #fff;
    font-size: 1.5vh;
}

.card_product_name {
    font-size: 2.5vh;
    line-height: 3vh;
    margin-bottom: 1.5vh;
}

.card_product_real_price {
    text-decoration: line-through;
    color: #fff;
}

.card_product_discount_price {
    font-size: 2vh;
    margin-bottom: 1.5vh;
}

.card_section_3 {
    display: flex;
    justify-content: space-between;
}

.product_quantity {
    width: 9rem;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}

.quantity_btn {
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
    border: 0px transparent solid;
    font-size: 2.5vh;
}

.quantity_btn_remove {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.quantity_choosen {
    background-color: #FCFCFD;
    height: 100%;
    text-align: center;
    width: 3rem;
    border: 0px transparent solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity_choosen::-webkit-inner-spin-button,
.quantity_choosen::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity_choosen {
    -moz-appearance: textfield;
}

.quantity_btn_add {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.add_to_cart_btn {
    border: 0px transparent solid;
    background-color: #fff;
    color: #91736B;
    border-radius: 50px;
    font-size: 2vh;
    padding: 1vh 1vw;
}

.success {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #232531;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: fixed;
    bottom: -4rem;
    right: -25rem;
    margin: 0 1rem 2rem 0;
    padding: 1rem 1rem;
    transition: bottom 0.3s ease-in-out, right 0.3s ease-in-out;
}

.success.show {
    bottom: 0;
    right: 0;
}

.success__icon {
    margin-right: 8px;
}

.success__icon path {
    fill: white;
}

.success__title {
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}

.success__close {
    cursor: pointer;
    margin-left: auto;
}

.success__close path {
    fill: white;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    .Card_Products {
        justify-content: center; /* Center the cards */
    }

    .card {
        width: 45%; /* Adjust card width for medium screens */
        margin-bottom: 2vh; /* Reduce bottom margin */
    }
}

@media only screen and (max-width: 800px) {
    .Products {
        padding: 3vh 2vw; /* Adjust padding */
    }

    .Products_title {
        font-size: 2.5vh; /* Reduce title size */
        margin-bottom: 2vh; /* Reduce margin */
    }

    .Card_Products {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center align cards */
    }

    .card {
        width: 90%; /* Make cards full width on small screens */
        padding: 3vh 1vw; /* Reduce padding */
    }

    .card_product_image {
        height: 15vh; /* Adjust image height */
    }

    .card_product_name {
        font-size: 2vh; /* Reduce font size */
    }

    .product_quantity {
        width: 7rem; /* Reduce width of product quantity */
    }

    .quantity_btn {
        width: 2.5rem; /* Adjust button width */
        font-size: 2vh; /* Reduce button font size */
    }

    .add_to_cart_btn {
        font-size: 1.5vh; /* Reduce button font size */
        padding: 0.5vh 0.5vw; /* Reduce padding */
    }

    .success {
        width: 90%; /* Make success message full width */
        right: 0; /* Position message at the bottom */
    }
}

@media only screen and (max-width: 480px) {
    .Products_title {
        font-size: 2vh; /* Further reduce title size */
    }

    .card_product_category {
        font-size: 1.2vh; /* Adjust category font size */
    }

    .card_product_real_price,
    .card_product_discount_price {
        font-size: 1.5vh; /* Reduce price font sizes */
    }

    .success {
        width: 100%; /* Full width for success message */
    }
}
